[submodule "libs/OpenAL-Soft"]
	path = libs/OpenAL-Soft
	url = https://github.com/kcat/openal-soft.git
[submodule "libs/nodeGraph"]
	path = libs/nodeGraph
	url = https://github.com/enginmanap/nodeGraph.git
[submodule "libs/meshoptimizer"]
	path = libs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/enginmanap/assimp.git
[submodule "libs/consthash"]
	path = libs/consthash
	url = https://github.com/LordJZ/consthash.git
[submodule "libs/ImGui"]
	path = libs/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "libs/bullet"]
	path = libs/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git

