[submodule "libs/OpenAL-Soft"]
	path = libs/OpenAL-Soft
	url = https://github.com/kcat/openal-soft.git
[submodule "libs/nodeGraph"]
	path = libs/nodeGraph
	url = https://github.com/enginmanap/nodeGraph.git
[submodule "libs/meshoptimizer"]
	path = libs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/enginmanap/assimp.git
[submodule "libs/consthash"]
	path = libs/consthash
	url = https://github.com/LordJZ/consthash.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
